body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: large;
}

p,
a,
span {
    font-size: small;
}

.header {
    text-align: center;
    padding: 40px;
}

.card {
    display: flex;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
}

.card-content {
    flex: 3;
    padding: 20px;
    background: #ffffff;
}

.card-image {
    flex: 2;
}

.card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-content-header {
    display: flex;
    align-items: center;
}

.card-content-header span {
    margin-right: 40px;
}

.container {
    padding: 40px;
}

.big-card {
    display: none;
}

.small-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card a {
    color: #005eff;
    text-decoration: none;
}

.card-bottom {
    display: none;
}


.card-content hr:first-of-type {
    display: block;
}

.card-content hr:last-of-type {
    display: none;
}


.search-box {
    position: relative;
    max-width: 250px;
    margin: auto;
}

.search-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}

.search-box input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}




@media screen and (min-width:768px) {


    .search-box{
        display: none;
    }
    .small-cards {
        flex-direction: row;
    }


    .card {
        position: relative;
        overflow: visible;
    }

    .card-image img {
        border-radius: 10px;
    }

    .card-content {
        position: absolute;
        width: 70%;
        padding: 10px;
        margin: auto;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        border-radius: 10px;
        border: 1px solid #cccccc;
    }

    .card-content-header span:nth-child(3) {
        display: none;
    }

    .card-content-header span:nth-child(2) i {
        display: none;
    }

    .card-content-header span:nth-child(2) {
        background: #e6e6e6;
        border-radius: 10px;
        padding: 4px;
        margin-left: auto;
    }

    .card-content-header span {
        margin-right: 0;
    }
}

@media screen and (min-width:1024px) {

    .container {
        max-width: 1400px;
        margin: auto;
        padding: 40px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .card {
        height: fit-content;
    }

    .card-content hr:first-of-type {
        display: none;
    }

    .card-content hr:last-of-type {
        display: block;
        margin: 16px auto;
    }

    .card-content {
        padding: 16px;
    }

    .card-bottom {
        display: block;
    }

    .card-content a {
        display: none;
    }

    .small-cards .card-bottom {
        display: flex;
        justify-content: space-between;
    }

    .small-cards h2 {
        margin-top: 0;
        margin-bottom: 4px;
    }

    .small-cards .card-bottom span {
        margin-right: 0;
    }


    .card-bottom span {
        margin-right: 24px;
    }

    .big-card {
        display: flex;
        flex: 1;
    }

    .big-card .card {
        flex-direction: column;
    }

    .big-card .card-content {
        width: auto;
    }

    .card-content-header {
        display: none;
    }

    .small-cards {
        flex: 1;
        flex-direction: column;
        gap: 20px;
    }

    .card {
        overflow: hidden;
    }

    .card-image img {
        border-radius: 0;
    }

    .card-content {
        position: relative;
        top: 0;
        left: 0;
        transform: translateX(0);
        border: none;
        border-radius: 0;
    }

}